.list-content {
    display: flex;
    padding: 20px;
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    background-image: linear-gradient(#a1c4fd, #c2e9fb);
    align-content: center;
    justify-content: center;
    animation: fadeListIn 1s ease-in-out forwards;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.list {
    margin-left: 200px; 
    margin-top: 20px;
}

.list-elements {
    margin-top: 40px;
    margin-left: 100px;
    font-size: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* This evenly spaces the images */
    height: 100vh;
    width: 20%;
    margin-left: 1%;
}


.image {
    border-radius: 20px;
    animation: fadeListIn 1s ease-in-out forwards;
    border: 5px solid #555;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#spelling-image {
    /*position: absolute;
    top: 100px;
    left: 50px;*/
    width: 300px;
    height: 200px;
}

#editorial-image {
    /*position: absolute;
    top: 650px;
    left: 1600px;*/
    width: 300px;
    height: 200px;
}


@keyframes fadeListIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

